.dialog-desc {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.publish-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

    .full-width {
        width: 100%;
    }
}
